.mid-button a{behavior: url(js/PIE.htc);  border-radius: 10px 10px 10px 10px;}
.manu ul li a:hover{ padding:24px 24px 14px; background:url(../images/hover.png) no-repeat bottom; color:#EC008C;}
.footer-outer{behavior: url(js/PIE.htc);background:#252525; height:45px; width:100%;}
