.jcarousel-skin-tango .jcarousel-direction-rtl {direction: rtl;}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 560px;
    padding: 20px 32px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  340px;
	margin:0 111px 0 100px;
    height: 70px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 85px;
    height: 70;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 48px;
    right: 5px;
    width: 26px;
    height: 29px;
    cursor: pointer;
    background:url(../images/arow-right.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
   background:url(../images/arrow-right.png) no-repeat;
   width: 26px;
    height: 29px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 48px;
    left: 5px;
    width: 26px;
    height: 29px;
    cursor: pointer;
    background:url(../images/arow-left.png) no-repeat;

}
